body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Отключаем прокрутку */
    height: 100%;
    width: 100%;
}

.text-field{
    position: absolute;
    top: 30%;
    left: 43%;
    margin-right: -50%;
    transform: translate(-70%, 70%);
    width: 20%; height: 20%;
    z-index: 300;
}


.text-field__input{
    font-size: 130%;
    margin: 0;
    width: 200%;
    height: 40%;
    z-index: 300;
}

::placeholder{
    position: relative;
    color: rgb(0, 51, 51);
    padding: 40%;
}

.Parent {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;  /* 100% ширины viewport */
    height: 100vh; /* 100% высоты viewport */
    box-sizing: border-box; /* чтобы padding не влиял на размеры */
}

.block_one{
    display: flex;
    margin: 0;
    position: absolute;
    border: 500px solid rgba(0, 153, 224, 0.5);
    top:-600px;
    left: -500px;
    transform: rotate(45deg);
    z-index: 100;
}

.svg_div_one{
    transform: rotate(315deg);
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: -100px;
    z-index: 110;
}


.block_two{
    margin: 0;
    position: absolute;
    border: 500px solid rgba(117, 0, 212, 0.5);
    top:-500px;
    left: -500px;
    transform: rotate(45deg);
    z-index: 100;
}


.svg_div_two{
    transform: rotate(315deg);
    position: absolute;
    top: -190px;
    left: -770px;
    z-index: 200;
}

.block_three{
    margin: 0;
    position: absolute;
    border: 50vw solid rgba(0, 153, 224, 0.5);
    top: 70%;
    left: 55%;
    transform: rotate(135deg);
    
}

.svg_div_three{
    transform: rotate(135deg);
    position: absolute;
    top:-10px;
    left: 830px;
    border-bottom: -100px;
    z-index: 90;
}

.block_four{
    margin: 0;
    position: absolute;
    border: 60vw solid rgba(117, 0, 212, 0.5);
    top: 63%;
    left: 47%;
    transform: rotate(135deg);
    z-index: 100;
}

.svg_div_four{
    transform: rotate(135deg);
    position: absolute;
    top: -500px;
    left: 870px;
    z-index: 200;
}

.TextFild{
    z-index: 500;
}

p {
    color: black;
    z-index: 500;
}


.TextFild{
    position: absolute;
    top: 40%;
    left: 54%;
    margin-right: -50%;
    transform: translate(-70%, 70%);
    width: 20%; height: 20%;
    z-index: 400;
}


.Result{
    position: relative;
    color: black;
    margin-left: -50%;
    margin: 0;
    width: 200%;
    height: 40%;
    font-family: sans-serif;
    
    z-index: 400;
}

.under_line{
    position: absolute;
    top: 42%;
    left: -6%;
    width: 115%; border-top: 3px solid #626263;
}

